*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url("./img/background_pc.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}
.container{
    width: 328px;
    padding: 16px;
    background-color: b;
    border-radius: 8px;
    border: 3px solid white;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
}
#form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#form label{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 4px;
    cursor: pointer;
}
#form input{
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    border: 2px solid transparent;
    color: #e67e22;
}
#form input:focus{
    outline-color: #e67e22;
}

.btn{
    padding: 8px 0;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease 0.5s;
}
.btn:hover{
    background-color: white;
    color: #e67e22;
}
.shadow{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: 20%;
}

#error-name, #error-surname, #error-email{
    font-size: 16px;
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-style: italic;
    margin-bottom: 8px;
    display: none;
}

#form .error-input{
    border-color: red;
}
#form .error-input:focus{
    outline-color: red;
}

.openErrorMessage{
    display: block;
}

.social-links{
    position: fixed;
    bottom: 72px;

}
.link{
    list-style: none;
    display: inline;
    margin-right: 16px;
}
.link a {
    text-decoration: none;
}
.link a img{
    transform: scale(1.2);
    transition: ease 0.5s;
}
.link a img:hover{
    
    transform: scale(1.5);
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    body{
        background: url("./img/background_tablet.jpg");
    }
    .shadow{
        opacity: 30%;
    }
    #form input{
        color: #116655;
    }
    #form input:focus{
        outline-color: #116655;
    }

    .btn:hover{
        color: #116655;
    }

    #error-name, #error-surname, #error-email{
        background-color: white;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    body{
        background: url("./img/background_celular-vertical.jpg");
    }

    #form input{
        color: #622c79;
    }
    #form input:focus{
        outline-color: #622c79;
    }

    .btn:hover{
        color: #622c79;
    }

    #error-name, #error-surname, #error-email{
        background-color: white;
    }
}

@media screen and (max-height: 390px) and (orientation: landscape){
    body{
        background: url("./img/background_celular-horizontal.jpg");
    }

    #error-name, #error-surname, #error-email{
        background-color: white;
        font-size: 12px;
        margin-bottom: 4px;
    }

    #form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    #form label{
        font-size: 16px;
        margin-bottom: 4px;
    }
    #form input{
        font-size: 12px;
        padding: 4px 6px;
        margin-bottom: 8px;
        color: #eba869;
    }
    #form input:focus{
        outline-color: #eba869;
    }

    .btn{
        padding: 6px 0;
        border-radius: 3px;
        font-size: 18px;
    }

    .btn:hover{
        color: #f8c291;
    }

    .social-links{
        bottom: 24px;
        right: 24px;
    }
}